<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Minhas Compras</title>
</head>
<body>
    <h1>Minhas Compras</h1>
    {{#purchasesBySession}}
    <div>
        <h2>Pedido: {{sessionId}}</h2>
        <p>Total gasto: R${{total}} <a href="/purchases/session/{{sessionId}}">Ver detalhes</a></p>
        
    </div>
    {{/purchasesBySession}}
    <a href="/tickets">Comprar mais Ingressos</a>
</body>
</html>