<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da compra</title>
</head>
<body>
    <h1>Detalhe da compra</h1>
    <p><strong>Ingresso:</strong> {{purchase.Ticket.name}}</p>
    <p><strong>Quantidade:</strong> {{purchase.quantity}}</p>
    <a href="/purchases">Voltar para as compras</a>
</body>
</html>